**/__pycache__/
**/*.pyc
log/
models/
my_graphrag/input_documents/
my_graphrag/input_groups/
my_graphrag/output/
my_graphrag/vector_database/
my_graphrag/vector_db_*/
my_graphrag/db_tmp_file.txt
output/
